<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011375431235-4jh2k9nrp063k9j9ujs8oknv36ee08gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011375431235-4jh2k9nrp063k9j9ujs8oknv36ee08gp</string>
	<key>API_KEY</key>
	<string>AIzaSyDKVTM0Tm6Gf-ZpyshljPs4QVzcMUk7DeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1011375431235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ushuttlev1</string>
	<key>PROJECT_ID</key>
	<string>ushuttle-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>ushuttle-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011375431235:ios:1f8b2445c77fcd35e2fef6</string>
</dict>
</plist>